body {
    margin: 0;
    background-color: #9ae2fb;
    /* background-color: #1b2326; */
    color: #286488;
    font-family: Arial, Helvetica, sans-serif;
}

.weather-icon {
    font-size: 3.5em;
}

.weather-icon-lg {
    font-size: 5em;
}

#weekly-info {
    border-radius: 0.75rem;
    /* box-shadow: 0 0 3em white inset; */
    box-shadow: 0 0 2em rgba(255, 255, 255, 0.738) inset;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}


